:root {
--text-color-light: #555555;
--template-border-color: #DFE4ED;
--font-size: 17px;
--text-color: #333333;
--text-color-strong: #333333;
--font-family: "Source Sans";
--header-height: 60px;
--header-logo-background: #343A40;
--header-background-color: #FFFFFF;
--menu-width: 280px;
--menu-background-color: #343A40;
--menu-master-color-strong: #FFFFFF;
--menu-check-color: #F8F9FB;
--submenu-background-color: #343A40;
--main-color: #027BFE;
--live-background-color: #F4F6F9;
--button-height: 35px;
--button-text-color: #555555;
--button-background: #fff;
--button-border-radius: 4px;
--button-padding: 8px;
--field-height: 38px;
--field-border-top: 1px;
--field-border-bottom: 1px;
--field-border-right: 1px;
--field-border-left: 1px;
--field-border-radius: 7px;
--field-background: #fff;
--field-border-color: #CED4DA;
--field-color: #555555;
--field-focus-border-color: #2196F3;
--field-placeholder-color: #CED4DA;
--content-border-radius: 10px;
--content-background: #F8F9FB;
--content-border-color: #DFE4ED;
--panel-background: #fff;
--panel-border-radius: 4px;
--modal-background: #FFFFFF;
--submenu-sub-text-color: #B7C7D1;
--scrollbar-color: #DFE4ED;
--color-overlay: #0000004d;
--preloader-color: #333333;
--live-area-width: 100%;
--header-border-bottom: #FFFFFF;
--header-logo-font-size: 31px;
--header-logo-border-right: #333333;
--header-logo-border-bottom: #4F5962;
--header-track-border-right: #FFFFFF;
--header-box-display: none;
--header-box-background: transparent;
--panel-header-background: #FFFFFF;
--panel-body-padding: 15px;
--panel-border-color: #00000020;
--button-border: #DFE4ED;
--button-text-color-hover: #333333;
--menu-border-right: #343A40;
--menu-icon-font-size: 15px;
--menu-background-check: #1a2226;
--menu-button-border-color: #343A40;
--submenu-border-right: #343A40;
--submenu-text-color: #B7C7D1;
--submenu-text-hover: #fff;
--submenu-background-check: #1a2226;
--submenu-check-color: #fff;
--top-menu-border: #FFFFFF;
--top-menu-background-color: #FFFFFF;
--top-menu-background-check: #FFFFFF;
--top-menu-check-color: #333333;
--top-menu-hover-color: #555555;
--top-menu-color: #555555;
--top-submenu-background-color: #F8F9FB;
--top-submenu-text-color: #8694B0;
--top-submenu-text-hover: #333333;
--top-submenu-background-check: #333333;
--top-submenu-check-color: #FFFFFF;
--field-padding-horizontal: 15px;
--tr-hover-background: #eceff4;
--tr-hover-color: #212529;
--tr-even-background: #fff;
--tr-odd-background: #0000000d;
--table-body-color: #555555;
--table-header-color: #000000;
--modal-footer-background: #DFE4ED8F;
--modal-header-background: #FFFFFF;
--modal-header-color: #000000;
--button-box-shadow: none;
--panel-box-shadow: 0 2px 10px 0px #00000033;
--panel-header-color: #333;
--panel-footer-background: #00000008;
--header-text-color: #333333;
--header-box-shadow: none;
--menu-box-shadow: none;
--menu-user-splash-background: #343A40;
--panel-header-font-size: 17px;
--panel-header-font-weight: 200px;
--panel-header-padding-vertical: 15px;
--panel-header-padding-horizontal: 20px;
--panel-header-border-color: #00000020;
--header-logo-text-color: #FFFFFF;
--menu-background-button-circle: #15171B54;
--menu-color-button-circle: #B7C7D7;
--top-menu-background-button-circle: #fff;
--top-menu-color-button-circle: #516283;
--submenu-font-size: 17px;
--submenu-padding-horizontal: 10px;
--submenu-item-padding-horizontal: 12px;
--submenu-item-padding-vertical: 12px;
--modules-button-radius: 100px;
--name: Builder Casts;
--field-padding-vertical: 0px;
--panel-padding: 0px;
--header-box-padding-horizontal: 0px;
--header-box-padding-vertical: 0px;
--header-logo-padding-horizontal: 0px;
--header-logo-padding-vertical: 0px;
--login-background-color: #FFFFFF;
--login-panel-header-background: #FFFFFF;
--login-panel-left-background-color: #202020;
--login-panel-right-background-color: #fff;
--login-button-background: #007BFF;
--login-button-text-color: #FFFFFF;
--login-panel-left-text-header-color: #FFFFFF;
--login-panel-left-text-header-align: center;
--login-panel-left-text-header-font-size: 40px;
--login-panel-left-text-header-font-weight: 700px;
--login-panel-left-text-footer-color: #CACACA;
--login-panel-left-text-footer-align: left;
--login-panel-left-text-footer-font-size: 30px;
--login-panel-left-text-footer-font-weight: 700px;
--login-panel-detail-display: flex;
--login-link-color: #3C8DBC;
--login-html: ;
--login-panel-detail-display-image: flex;
--login-panel-detail-display-details: flex;
--login-panel-detail-image-size: contain;
--login-panel-detail-image-position: center;
--login-panel-detail-direction: row;
--login-panel-max-width: 1250px;
--login-panel-detail-force-full-image: ;
--login-panel-border-radius: 10px;
--login-panel-box-shadow:  0px 0px 10px 4px #0000004d;
--login-title-font-size: 0px;
--login-title-align: center;
--login-title-font-weight: 700px;
--login-title-color: #3C8DBC;
--login-header-font-size: 25px;
--login-header-align: center;
--login-header-color:  #007BFF;
--login-border-color: #ff;
--login-panel-left-header-image-position: center;
--login-text-center-align: center;
--login-text-center-size: 18px;
--login-text-center-weight: 600px;
--login-text-center-color: #333333;
--show-text-center: ;
--panel-row-margin-bottom: 7px;
--tab-active-border-color: #DFE4ED;
--tab-active-background: transparent;
--tab-active-color: #333333;
--tab-border-color: transparent;
--tab-background: transparent;
--tab-color: #333333;
--tab-border-radius: 8px;
--tab-font-size: 15px;
--tab-font-weight: normal;
--table-header-font-size: 15px;
--table-header-font-weight: normal;
--table-header-background: transparent;
--table-header-border-color: #DFE4ED;
--table-header-padding-vertical: 12px;
--field-check-color: #fd9203;
--field-disabled-background: #DFE4ED;
--field-disabled-text-color: #333333;
--field-disabled-border: #DFE4ED;
--login-panel-max-height: 550px;
--login-form-box-shadow: none;
}